In [1]:
import pandas as pd
import numpy as np

In [31]:
data = pd.read_csv("analyse_this.csv")

In [32]:
data.head()

,url,title,author,num_ratings,avg_rating,awards,original_publish_year,norm_mean,norm_max_min
0,https://www.goodreads.com/book/show/2767052-th...,The Hunger Games,Suzanne Collins,6532119,4,40.0,2008,4.195,10.0
1,https://www.goodreads.com/book/show/2.Harry_Po...,Harry Potter and the Order of the Phoenix,J.K. Rowling,2580995,4,8.0,2003,4.195,10.0
2,https://www.goodreads.com/book/show/2657.To_Ki...,To Kill a Mockingbird,Harper Lee,4627182,4,NaN,1960,4.195,10.0
3,https://www.goodreads.com/book/show/1885.Pride...,Pride and Prejudice,Jane Austen,3086649,4,NaN,1813,4.195,10.0
4,https://www.goodreads.com/book/show/41865.Twil...,Twilight,Stephenie Meyer,5087005,3,24.0,2005,-4.805,1.0

In [40]:
df = data.groupby("original_publish_year")["norm_max_min"].mean()
print(df)

original_publish_year
51      10.0
1307     1.0
1315    10.0
1320    10.0
1400     1.0
        ...
6800     1.0
9019    10.0
9600    10.0
9750     1.0
9800    10.0
Name: norm_max_min, Length: 207, dtype: float64

In [42]:
df = data.groupby("original_publish_year")["num_ratings"].mean()
print(df)

original_publish_year
51      446608.0
1307    252067.0
1315    171928.0
1320    123877.0
1400    191925.0
          ...
6800    877135.0
9019    109346.0
9600    222001.0
9750    151439.0
9800     64035.0
Name: num_ratings, Length: 207, dtype: float64